@import "~@blueprintjs/core/lib/scss/variables";

body {
    background-color: $background-color;
    font-family: $font-family;
}

.error {
    color: $pt-intent-danger;
    font-size: $pt-font-size-small;
}

#root {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & > div {
        display: flex;
        flex-grow: 1;

        &.Toastify {
            flex-grow: 0;
        }
    }
}

.content {
    padding: $pt-grid-size $pt-grid-size * 1.5;
}