@for $i from 1 through 6 {
    .mb-#{$i} {
        margin-bottom: $pt-grid-size * (0.5 * $i);
    }

    .mt-#{$i} {
        margin-top: $pt-grid-size * (0.5 * $i);
    }
}

.flex {
    display: flex;
}

@each $item in (center, start, end, space-between, space-around) {
    .align-#{$item} {
        align-items: $item;
    }

    .justify-#{$item} {
        justify-content: $item;
    }
}