@import "~@blueprintjs/core/lib/scss/variables";

$font-family: "Roboto";

$background-color: #EDEFF2;

$header_height: 50px;
$footer_height: 62px;

$sidebar_width: 300px;
$sidebar_bg_color: #fff;

$content_padding: $pt-grid-size * 1.5;